<nano-import href="lazy/content-card.html"></nano-import>
<nano-import href="lazy/card-view.html"></nano-import>

<style>
  content-view content-column {
    display: block;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 640px;
    margin: 40px auto;
  }
  content-view content-card {
    display: block;
    min-height: 400px;
    margin-bottom: 40px;
  }
</style>

<template id="content-view">
  <content-column>

    <content-card name="Alpha" kind="card-view" icon="wifi"></content-card>
    <content-card name="Beta" kind="card-view" icon="settings"></content-card>
    <content-card name="Gamma" kind="card-view" icon="people"></content-card>
    <content-card name="Delta" kind="card-view" icon="key"></content-card>
    
  </content-column>
</template>  

<script>
  Nano({
    name: 'content-view',
    sugar: {
      properties: ['route'],
      template: document.currentImport.querySelector('#content-view')
    },
    prototype: {
      __proto__: Polymer.BaseElement.prototype,
      createdCallback: function() {
        this.lazyProperty('route');
      },
      routeChanged: function(route) {
        var dom = this.$$('[name="' + route + '"]');
        setTimeout(function() {
          if (dom) {
            var r = dom.getBoundingClientRect();
            window.scrollTo(0, r.top + window.scrollY - 136);
          }
        }, 100);
      }
    }
  });
</script>
