<!doctype html>
<!-- AX_HTML_01 -->
<html lang="en">
  
<title>mdl-textfield demo</title>

<link rel="import" href="../mdl-textfield.html">

<mdl-textfield label="Text"></mdl-textfield>

<br><br>

<mdl-textfield>
  <label>Name</label>
</mdl-textfield>

<br><br>

<mdl-textfield>
  <input>
  <label>Text...</label>
</mdl-textfield>

<br><br>

<mdl-textfield>
  <label>Name</label>
  <input>
</mdl-textfield>

<br><br>

<mdl-textfield invalid>
  <input>
  <label>Text...</label>
</mdl-textfield>

</html>