<!doctype html>
<html lang="en"><!-- AX_HTML_01 -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <title>mdl-textfield demo</title>

  <style>
    body {
      font-family: sans-serif;
    }
    label {
      font-style: italic;
    }
    form {
      width: 620px;
      padding: 16px;
      border: 1px solid whitesmoke;
    }
    [narrow] {
      width: 100px;
    }
  </style>

  <link rel="import" href="../mdl-textfield.html">
  <link rel="import" href="../flex-layout.html">

  <form vertical stretch layout>
    
    <mdl-textfield label="Name on card">
      <input name="ccname" required autocomplete="cc-name">
    </mdl-textfield>

    <mdl-textfield label="Card Number">
      <input name="cardnumber" Xtype="number" required autocomplete="cc-number" pattern="\d{4}-\d{4}-\d{4}-\d{4}|\d{16}">
    </mdl-textfield>

    <mdl-textfield label="Card Number">
      <input name="cardnumber" type="number" required autocomplete="cc-number" pattern="\d{16}">
    </mdl-textfield>

    <div horizontal layout>
      
      <mdl-textfield flex label="Expiry (mm/yyyy)">
        <input name="cc-exp" required Xplaceholder="MM/YYYY" autocomplete="cc-exp" pattern="\d{2}-\d{4}|\d\d\/\d{4}|\d\d\/\d\d">
      </mdl-textfield>
      
      &nbsp;&nbsp;
      
      <mdl-textfield flex label="CVC (###)">
        <input name="cvc" type="number" required autocomplete="cc-csc" pattern="\d\d\d">
      </mdl-textfield>
      
      <span flex></span>
      
    </div>
    
    <hr>
<!--    
    <mdl-textfield type="number" label="Credit card number"><input name="cardnumber" required autocomplete="cc-number" pattern="\d{4}-\d{4}-\d{4}-\d{4}|\d{4}\d{4}\d{4}\d{4}"></mdl-textfield>
    <div horizontal layout>
      <mdl-textfield type="number" narrow label="Month"><input pattern="\d\d" validation-message="Must have two digits"></mdl-textfield>
      &nbsp;
      <mdl-textfield type="number" narrow label="Year"></mdl-textfield>
      &nbsp;
      <mdl-textfield type="number" narrow label="CVC"></mdl-textfield>
    </div>
    <mdl-textfield label="Name"></mdl-textfield>
    <mdl-textfield label="Address"></mdl-textfield>
    <mdl-textfield label="Address (optional)"></mdl-textfield>
    <div horizontal layout>
      <mdl-textfield label="City"></mdl-textfield>
      &nbsp;
      <mdl-textfield narrow label="State"></mdl-textfield>
      &nbsp;
      <mdl-textfield type="number" label="Zip"></mdl-textfield>
    </div>
    <div horizontal layout>
      <mdl-textfield label="Country"></mdl-textfield>
    </div>
-->
    <div>
      <button submit>Submit</button>
    </div>
  </form>
  
</html>