<style>
  mdl-textfield {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    Xwidth: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
  }
  mdl-textfield input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: none;
    text-align: left;
    color: inherit;
  }
  mdl-textfield.is-focused input {
    outline: none;
  }
  mdl-textfield.is-invalid input {
    border-color: rgb(222, 50, 38);
    box-shadow: none;
  }
  mdl-textfield.is-disabled input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0,0,0, 0.12);
    color: rgba(0,0,0, 0.26);
  }
  mdl-textfield textarea input {
    display: block;
  }
  mdl-textfield label {
    bottom: 0;
    color: rgba(0,0,0, 0.62);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
  }
  mdl-textfield.is-dirty label {
    visibility: hidden;
  }
  mdl-textfield.is-disabled label {
    color: rgba(0,0,0, 0.26);
  }
  mdl-textfield[floating-label] label {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  mdl-textfield[floating-label].is-focused label,
  mdl-textfield[floating-label].is-dirty label {
    color: rgb(63,81,181);
    font-size: 12px;
    top: 4px;
    visibility: visible;
  }
  mdl-textfield[floating-label].is-invalid label {
    color: rgb(222, 50, 38);
    font-size: 12px;
  }
  mdl-textfield label:after {
    background-color: rgb(63,81,181);
    bottom: 20px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px;
  }
  mdl-textfield.is-focused label:after {
    left: 0;
    visibility: visible;
    width: 100%;
  }
  mdl-textfield.is-invalid label:after {
    background-color: rgb(222, 50, 38);
  }
  mdl-textfield [error] {
    color: rgb(222, 50, 38);
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    visibility: hidden;
    display: block;
  }
  mdl-textfield.is-invalid [error] {
    visibility: visible;
  }
</style>

<script>
  'use strict';

  var guid = 1000;
  
  document.registerElement('mdl-textfield', {
    prototype: {
      __proto__: HTMLElement.prototype,
      attachedCallback: function() {
        this.setAttribute('floating-label', '');
        this.init_();
      },
      /**
       * Initialize element.
       */
      init_: function() {
        this.input_ = this.querySelector('input');
        if (!this.input_) {
          this.input_ = this.appendChild(document.createElement('input'));
          this.input_.type = this.getAttribute('type') || 'text';
        }
        this.input_.id = 'gid' + guid++;
        this.initInput_(this.input_)
        //
        this.label_ = this.querySelector('label');
        if (!this.label_) {
          this.label_ = this.appendChild(document.createElement('label'));
          this.label_.textContent = this.getAttribute('label');
        }
        this.label_.setAttribute('for', this.input_.id);
      },
      initInput_: function(i) {
        //var cl = this.classList;
        var self = this;
        var listen = function(event, method) {
          i.addEventListener(event, function(e) { self[method](e); });
        };
        listen('input', 'updateClasses');
        listen('focus', 'onFocus_');
        listen('blur', 'onBlur_');
        /*
        var invalid = cl.contains('is-invalid') || this.hasAttribute('invalid');
        this.updateClasses_();
        if (invalid) {
          cl.add('is-invalid');
        }
        if (i.hasAttribute('autofocus')) {
          this.focus();
          this.updateClasses_();
        }
        */
      },
      
      /**
       * Handle input being entered.
       *
       * @param {Event} event The event that fired.
       * @private
       */
      onKeyDown_: function(event) {
        var currentRowCount = event.target.value.split('\n').length;
        if (event.keyCode === 13) {
          if (currentRowCount >= this.maxRows) {
            event.preventDefault();
          }
        }
      },
      /**
       * Handle focus.
       *
       * @param {Event} event The event that fired.
       * @private
       */
      onFocus_: function(event) {
        this.classList.add('is-focused');
      },
      /**
       * Handle blur.
       *
       * @param {Event} event The event that fired.
       * @private
       */
      onBlur_: function(event) {
        this.classList.remove('is-focused');
      },
      /**
       * Handle class updates.
       *
       * @private
       */
      updateClasses_: function() {
        var cl = this.classList, i = this.input_;
        cl.toggle('is-disabled', i.disabled);
        cl.toggle('is-focused', this.querySelector(':focus'));
        cl.toggle('is-invalid', i.validity && !i.validity.valid);
        cl.toggle('is-dirty', i.value && i.value.length > 0);
      },

      // Public methods.

      /**
       * Check the disabled, focus, validity, and dirty state and update field accordingly.
       *
       * @public
       */
      checkState: function() {
        this.updateClasses_();
      },
      /**
       * Disable text field.
       *
       * @public
       */
      disable: function() {
        this.input_.disabled = true;
        this.updateClasses_();
      },
      /**
       * Enable text field.
       *
       * @public
       */
      enable: function() {
        this.input_.disabled = false;
        this.updateClasses_();
      },
      /**
       * Update text field value.
       *
       * @param {string} value The value to which to set the control (optional).
       * @public
       */
      change: function(value) {
        this.input_.value = value || '';
        this.updateClasses_();
      }
    }
  });
</script>