<style>
  
  ripple-clip {
    pointer-events: none;
    display: inline-block;
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
  }

  ripple-wave {
    pointer-events: none;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 1024px;
    transform: scale(0);
    opacity: 0.5;
    transition: transform 300ms ease-in-out, opacity 500ms ease-in-out;
  }

</style>

<script>

  Nano({
    name: 'nano-ripple',
    prototype: {
      __proto__: Polymer.BaseElement.prototype,
      createdCallback: function() {
        this.color = '#bbbbbb';
        this.layer = document.body;
      },
      makeClip: function(target) {
        var r = target.getBoundingClientRect();
        var clip = Polymer.Utils._('ripple-clip')
        clip.style.top = r.top + 'px';
        clip.style.width = r.width + 'px';
        clip.style.height = r.height + 'px';
        clip.style.left = r.left + 'px';
        clip.r = r;
        return clip;
      },
      makeWave: function(r, x, y) {
        var w = Polymer.Utils._('ripple-wave')
        //
        var mn = Math.min(r.width, r.height);
        var mx = Math.max(r.width, r.height);
        var c = mn/2;
        //
        var dx = Math.abs(x - r.width/2);
        var sx = (r.width + dx*2) / mn;
        var dy = Math.abs(y - r.height/2);
        var sy = (r.height + dy*2) / mn;
        w.scale = Math.round(Math.max(sx, sy) + 1.5);
        //
        w.style.top = y - c + 'px';
        w.style.width = mn + 'px';
        w.style.height = mn + 'px';
        w.style.left = x - c  + 'px';
        //
        return w;
      },
      waveout: function(w) {
        w.style.transform = 'scale(' + w.scale + ')';
        w.style.opacity = '0';
        w.style.transition = '';
      },
      animate: function(wave) {
        var wo = this.waveout;
        setTimeout(function() {
          wo(wave);
        }, 1);
      },
      wave: function(clip, x, y) {
        return clip.appendChild(this.makeWave(clip.r, x, y));
      },
      selfdestruct: function(clip) {
        setTimeout(function() {
          clip.remove();
        }, 500);
      },
      ripple: function(target, x, y, color) {
        var clip = this.layer.appendChild(this.makeClip(target));
        // all waves should be created before animating, because adding nodes messes up transitions
        var wave0 = this.wave(clip, x, y);
        wave0.style.backgroundColor = color;
        // sequence animations
        this.animate(wave0);
        // schedule cleanup
        this.selfdestruct(clip);
      },
      mouseripple: function(e) {
        this.ripple(e.currentTarget, e.offsetX, e.offsetY, this.color);
      }
    }
  });

</script>
