<script>
(function() {
  
  var imports = [];

  var provideUrls = function() {
    Array.prototype.forEach.call(arguments, provideUrl);
  };
  
  var provideUrl = function(url) {
    imports[url] = true;
    //console.log('provideUrl: ', url, imports[url]);
  };

  var importUrls = function() {
    Array.prototype.forEach.call(arguments, importUrl);
  };
  
  var importUrl = function(url) {
    //console.log('importUrl: ', url, imports[url]);
    if (imports[url]) {
      return true;
    }
    imports[url] = true;
    Polymer.Utils.himport(url);
  };
  
  Polymer.Nano.provide = provideUrls;
  Polymer.Nano.import = importUrls;

  Nano({
    name: 'nano-import',
    prototype: {
      __proto__: Polymer.BaseElement.prototype,
      createdCallback: function() {
        importUrl(this.getAttribute('href'));
      }
    }
  });
  
  Nano({
    name: 'nano-provide',
    prototype: {
      __proto__: Polymer.BaseElement.prototype,
      createdCallback: function() {
        provideUrl(this.getAttribute('href'));
      }
    }
  });
  
  // delay processing of imports for timing reasons that need explaining

  var docReady = document.readyState === "complete" || document.readyState === "interactive";
  if (!docReady) {
    var deferred = [];
    var deferUrl = function(url) {
      //console.log('importUrl(deferred): ', url);
      deferred.push(url);
    };
    var _importUrl = importUrl;
    importUrl = deferUrl;
    window.addEventListener('load', function() {
      //console.log('window load');
      importUrl = _importUrl;
      deferred.forEach(importUrl);
    });
  }

})();
</script>