<style>
  nano-layer, nano-scrim {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: opacity 100ms;
  }
  nano-scrim {
    Xpointer-events: none;
    background-color: black;
  }
  nano-box {
    position: absolute;
    opacity: 1.0;
    pointer-events: none;
    background-color: white;
    transition: transform 200ms ease-in-out;
    transform-origin: 0 0;
    width: 200px;
    height: 200px;
  }
</style>

<script>
(function() {
  
  var stack = [];
  
  var transform = function(node, transform) {
    node.style.webkitTransform = node.style.transform = transform;
  };
  var translate3d = function(x, y, z, node) {
    return 'translate3d(' + x + ',' + y + ',' + z + ') ';
  };
  var scale = function(sx, sy, node) {
    return 'scale(' + sx + ',' + sy + ') ';
  };
  var wait = function(delay, fn, context) {
    setTimeout(fn.bind(context), delay !== undefined ? delay : 1);
  };
  Nano({
    name: 'nano-layers',
    prototype: {
      __proto__: Polymer.BaseElement.prototype,
      open: function(scrimBg) {
        var layer = Polymer.Utils._('nano-layer');
        layer.addEventListener('touchmove', function(e) {
          e.preventDefault();
        });
        layer.addEventListener('wheel', function(e) {
          e.preventDefault();
        });
        //var scrim = layer.appendChild(Polymer.Utils._('nano-scrim'));
        //scrim.style.backgroundColor
        if (scrimBg) {
          layer.style.backgroundColor = scrimBg;
        }
        layer.style.opacity = 0;
        wait(1, function() {
          layer.style.opacity = 1;
        });
        this.root.appendChild(layer);
        var info = {layer: layer}; //, scrim: scrim};
        stack.push(info);
        return info;
      },
      close: function(delay) {
        var info = stack.pop();
        if (info) {
          info.layer.style.opacity = 0;
          wait(Math.max(300, delay || 0), function() {
            info.layer.remove();
          });
        }
      }
    }
  });
  
  Nano({
    name: 'nano-animated-box',
    sugar: {
    },
    prototype: {
      __proto__: Polymer.BaseElement.prototype,
      createdCallback: function() {
      },
      animate: function(layer, startRect, endRect) {
        var box = this.box = Polymer.Utils._('nano-box');
        box.style.width = startRect.width + 'px';
        box.style.height = startRect.height + 'px';
        transform(box, translate3d(startRect.left + 'px', startRect.top + 'px', 0, box) + scale(1, 1));
        layer.layer.appendChild(box);
        wait(1, function() {
          var sx = endRect.width / (startRect.width || 1);
          var sy = endRect.height / (startRect.height || 1);
          transform(box, translate3d(endRect.left + 'px', endRect.top + 'px', 0, box) + scale(sx, sy));
        });
        return box;
      }
    }
  });
})();
</script>

<script>
  /*
  Nano({
    name: 'nano-popup',
    sugar: {
    },
    prototype: {
      __proto__: Polymer.BaseElement.prototype,
      createdCallback: function() {
        this._stack = [];       
      },
      transform: function(transform, node) {
        var style = (node || this).style;
        style.webkitTransform = style.transform = transform;
      },
      translate3d: function(x, y, z, node) {
        this.transform('translate3d(' + x + ',' + y + ',' + z + ')', node);
      },
      async: function(fn, delay) {
        setTimeout(fn.bind(this), delay !== undefined ? delay : 1);
      },
      popup: function(node, options) {
        options = options || {};
        //
        var left = options.left || Math.round((document.documentElement.clientWidth - 400) / 2);
        var top = options.top || Math.round((document.documentElement.clientHeight - 200) / 2);
        //
        var s = node.style;
        s.display = 'block';
        s.pointerEvents = 'initial';
        s.position = 'fixed';
        s.top = 0;
        s.left = left + 'px'
        if (options.animate) {
          s.transition = 'transform 200ms';
        }
        //s.opacity = 1;
        //
        var layer = Polymer.Utils._('layer');
        var scrim = Polymer.Utils._('scrim');
        if (options.bg) {
          scrim.style.backgroundColor = options.bg;
        }
        layer.appendChild(scrim);
        layer.appendChild(node);
        //
        this._stack.push({layer: layer, scrim: scrim, node: node, options: options});
        this.root.appendChild(layer);
        //
        if (node.popup) {
          node.popup(this);
        }
        //
        if (options.animate) {
          this.translate3d(0, -top-top-top + 'px', 0, node);
          this.async(function() {
            this.translate3d(0, top + 'px', 0, node);
            scrim.style.opacity = 0.6;
          }, 1);
        } else {
          this.translate3d(0, top + 'px', 0, node);
          scrim.style.opacity = 0.6;
        }
      },
      close: function() {
        var info = this._stack.pop();
        if (info) {
          if (info.options.animate) {
            info.scrim.style.opacity = 0;
            this.translate3d(0, '-600px', 0, info.node);
            this.async(function() {
              info.layer.remove();
            }, 200);
          } else {
            info.layer.remove();
          }
        }
      }
    }
  });
  */
</script>
