<script>
  Object.defineProperty(document, 'currentImport', {
    enumerable: true,
    configurable: true,
    get: function() {
      return (document._currentScript || document.currentScript).ownerDocument;
    }
  });
  
  window.Nano = {
    property: function(element, name) {
      var value;
      if (element.hasOwnProperty(name)) {
        value = element[name];
        delete element[name];
      } else if (!element.hasAttribute(name)) {
        return;
      } else {
        value = element.getAttribute(name);
      }
      element[name] = value;
    },
    boolAttribute: function(node, attr, state) {
      if (state === undefined) {
        state = !node.hasAttribute(attr);
      }
      node[state ? 'setAttribute' : 'removeAttribute'](attr, '');
    },
    fire: function(node, type, detail, options) {
      var event = new CustomEvent(type, {
        bubbles: Boolean(options && options.bubbles),
        cancelable: Boolean(options && options.cancelable),
        detail: (detail === null || detail === undefined) ? {} : detail
      });
      node.dispatchEvent(event);
      return event;
    },
    listen: function(node, events, context) {
      events.forEach(function(n) {
        var fn = 'on' + n[0].toUpperCase() + n.slice(1);
        var f = context[fn];
        if (!f) {
          console.warn('Nano.listen: method [%s] not found on [%s]', fn, node.localName);
        } else {
          f = f.bind(context);
          // `cache[n]=f` to implement `unlisten`
          node.addEventListener(n, f);
        }
      });
    },
    // TODO(sjmiles): should use Annotations
    pool: function(element) {
      var pool = [];
      var c$ = element.children;
      for (var i=0, c; i<c$.length; i++) {
        c = c$[i];
        pool.push(c);
        c.remove();
      }
      return pool;
    },
    distribute: function(pool, dom) {
      for (var i=0, child; child=pool[i]; i++) {
        this.distributeNode(child, dom);
      }
    },
    distributeNode: function(child, dom) {
      var name = child.getAttribute('slot');
      if (name) {
        var slot = dom.querySelector('slot[name=' + name + ']');
        if (slot) {
          slot.parentNode.replaceChild(child, slot);
          return;
        }
      }
      child.remove();
    }
  };
</script>