<style>

  main-view {
    display: block;
    background-color: #d5d5d5;
  }

  main-view a {
    text-decoration: none;
    color: inherit;
  }
  
  main-view content-view {
    display: block;
    box-sizing: border-box;
    margin: 0 310px;
    /* use `transform` instead of `margin` to avoid margin-collapsing */
    transform: translate3d(0, 96px, 0);
  }

  main-view nav-bar[fixed] {
    top: 96px;
    width: 310px;
    background-color: inherit;
    font-weight: bold;
  }

  main-view icon[menu] {
    display: none;
  }

  main-view app-bar[fixed] {
    padding-left: 24px;
    height: 96px;
    bottom: auto;
    color: white;
    background-color: #3f5566;
  }

  main-view crumb-bar {
    color: white;
    width: 640px;
    min-width: 320px;
    margin: 0 auto;
    font-size: 125%;
  }
  
  [pcuock] {
  }
  
  @media (max-width: 1024px) {
    main-view content-view {
      margin-right: 0;
    }
  }

  @media (max-width: 640px) {
    main-view content-view {
      margin-left: 0;
    }
    main-view nav-bar {
      transform: translate3d(-310px, 0, 0);
    }
    main-view nav-bar[open] {
      transform: translate3d(0, 0, 0);
    }
    main-view icon[menu] {
      display: inline-block;
    }
  }

</style>
