<script>
  document.registerElement('nano-ajax', {
    prototype: {
      __proto__: HTMLElement.prototype,
      createdCallback: function() {
        this.method = 'GET';
        this.type = 'json';
        this.xhr = new XMLHttpRequest();
        this.xhr.addEventListener("load", this.onLoad.bind(this));
        Nano.property(this, 'url');
      },
      onLoad: function(e) {
        var xhr = e.target;
        console.log(xhr.response);
        this.dispatchEvent(new CustomEvent('response', {bubbles: false, detail: xhr.response}));
      },
      set url(url) {
        this._url = url;
        if (url) {
          this.send();
        }
      },
      send: function() {
        this.sendXhr(this.xhr, this.type, this.method, this._url);
      },
      sendXhr: function(xhr, type, method, url) {
        xhr.abort();
        xhr.responseType = type;
        xhr.open(method, url);
        xhr.send();
      }
    }
  });
</script>