<script>
  document.registerElement('nano-serviceworker', {
    prototype: {
      __proto__: HTMLElement.prototype,
      createdCallback: function() {
        var href = this.getAttribute('href');
        var scope = this.getAttribute('scope') || '.';
        this.register(href, scope);
      },
      register: function(href, scope) {
        if (href && ('serviceWorker' in navigator)) {
          navigator.serviceWorker.register(href, {scope: scope}).then(function(ServiceWorkerRegistration) {
            this.worker = ServiceWorkerRegistration;
            //console.log('ServiceWorker is Go');
            //this.notify('Abe(1) Says', 'ServiceWorker is Go');
          }.bind(this));
        }
      },
      canNotify: function() {
        if (!window.Notification) {  
          return false;  
        }
        // TODO(sjmiles): it's not clear if this is required. 
        // Also should we should check for 'granted' on some platforms?
        /*
          // If denied, it's a permanent block until the user changes the permission  
          if (Notification.permission === 'denied') {  
            console.warn('The user has blocked notifications.');  
            return false;  
          }
        */
        return true;
      },
      notify: function(title, body, icon, tag) {
        if (title && body) {
          if (!this.canNotify()) {
            alert(title + '\n\n' + body);
          } else {
            Notification.requestPermission(function(result) {
              if (result === 'granted') {
                navigator.serviceWorker.ready.then(function(worker) {
                  worker.showNotification(title, {body: body, icon: icon, tag: tag || 'abe-says'});
                });
              }
            });        
          }
        }
      }
    }
  });
</script>
