<dom-module id="nano-carousel">
  <style>
    .arrow-button {
      margin: auto 5px;
      font-size: 50px;
      color: #999;
      cursor: pointer;
    }
    #prevBtn {
      left: 5px;
    }
    #nextBtn {
      right: 5px;
    }
    #content {
      position: relative;
      overflow: hidden;
    }
    #content > * {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      animation: 300ms ease-in-out both;
      will-change: transform;
    }
    #content > *:not(:first-child) {
      transform: translateX(100%);
    }
    @keyframes slide-in-left {
      from { transform: translateX(-100%) }
      to { transform: translateX(0) }
    }
    @keyframes slide-in-right {
      from { transform: translateX(100%) }
      to { transform: translateX(0) }
    }
    @keyframes slide-out-left {
      from { transform: translateX(0) }
      to { transform: translateX(-100%) }
    }
    @keyframes slide-out-right {
      from { transform: translateX(0) }
      to { transform: translateX(100%) }
    }
  </style>

  <template>
    <div id="prevBtn" class="arrow-button">❮</div>
    <div id="content" flex></div>
    <div id="nextBtn" class="arrow-button">❯</div>
  </template>

  <script>
    'use strict';
    document.registerElement('nano-carousel', {
      prototype: {
        __proto__: HTMLElement.prototype,
        createdCallback: function() {
          this.x = 0;
        },
        attachedCallback: function() {
          this.dom = Annotations.stamp('nano-carousel', this);
          this.querySelector('#prevBtn').addEventListener('click', this.prev.bind(this));
          this.querySelector('#nextBtn').addEventListener('click', this.next.bind(this));
        },
        get content() {
          this._content = this._content || this.querySelector('#content');
          return this._content;
        },
        prev: function() {
          var c$ = this.content.children;
          var n = c$.length;
          var x = this.x;
          var y = (x-1+n)%n;
          
          c$[x].style.animationName = 'slide-out-right';
          c$[y].style.animationName = 'slide-in-left';
          this.x = y;
        },
        next: function() {
          var c$ = this.content.children;
          var n = c$.length;
          var x = this.x;
          var y = (x+1+n)%n;
          
          c$[x].style.animationName = 'slide-out-left';
          c$[y].style.animationName = 'slide-in-right';
          this.x = y;
        }
      }
    });   
  </script>
</dom-module>
