<script>
  var Base = {

    register: function() {
      // this == prototype
    },
    
    lazyProperty: function(name) {
      var value = this[name];
      delete this[name];
      this[name] = value;
    },
    
    $$: function(s) {
      return this.root.querySelector(s);
    },

    listen: function(node, event, handler) {
      if (!handler) {
        console.warn('%s: listen: `handler` parameter falsey: `listen(<%s>, "%s", %s)`', this.localName, node, event, handler)
      } else {
        node.addEventListener(event, handler.bind(this));
      }
    },

    notify: function(property) {
      this.fire(property + '-changed', {value: this[property]});  
    },
    
    fire: function(type, detail, options) {
      var node = options && options.node || this;
      var event = new CustomEvent(type, {
        bubbles: Boolean(options && options.bubbles),
        cancelable: Boolean(options && options.cancelable),
        detail: (detail === null || detail === undefined) ? {} : detail
      });
      node.dispatchEvent(event);
      return event;
    },
    
    setView: function(name) {
      if (!window._loaded) {
        window._loaded = {};
      }
      if (!window._loaded[name]) {
        window._loaded[name] = true;
        himport('lazy/' + name + '-view.html');
      }
      for (var n in window._loaded) {
        var view = this.$[n], active = (name === n);
        view.active = active;
        view.style.display = active ? '' : 'none';
      }
    },
    
    bindModel: function(model) {
      for (var n in model) {
        var v = model[n];
        if (n[0] === '$') {
          if (v) {
            this.$[n.slice(1)].setAttribute(v, '');
          }
        } else {
          this.updateBindings(n, v);
        }
      }
    }
  };
  
  var BaseElement = function() {};
  BaseElement.prototype = Object.create(HTMLElement.prototype);
  Polymer.Utils.extend(BaseElement.prototype, Base);
  
  Polymer.Base = Base;
  Polymer.BaseElement = BaseElement;
  
</script>