<script>
  Object.defineProperty(document, 'currentImport', {
    enumerable: true,
    configurable: true,
    get: function() {
      return (document._currentScript || document.currentScript).ownerDocument;
    }
  });

  Polymer.Utils = {

    _: function(tag, props) {
      var e = document.createElement(tag);
      Polymer.Utils.domMixin(e, props);
      return e;
    },

    domMixin: function(e, props) {
      if (props) {
        for (var n in props) {
          if (n === 'style' && e.style) {
            e.style.cssText = props[n];
          } else {
            e[n] = props[n];
          }
        }
      }
    },

    himport: function(href, cb) {
      //console.log('linking to ', href);
      var link = Polymer.Utils._('link', {rel:"import", href:href, onload:cb});
      link.setAttribute('async', '');
      document.body.appendChild(link);
    },
    
    stampTemplate: function(template) {
      return document.importNode(template.content, true);
    },
  
    extend: function(obj, props) {
      for (var n in props) {
        obj[n] = props[n];
      }
    },
      
    boolAttribute: function(node, attr, state) {
      if (state === undefined) {
        state = !node.hasAttribute(attr);
      }
      node[state ? 'setAttribute' : 'removeAttribute'](attr, '');
    },

    needle: function(array, property, key) {
      for (var i=array.length-1, t; i>=0; i--) {
        t = array[i];
        if (t[property] === key) {
          return t;
        }
      }
    },
  
    repeat: function(itemKind, items, container) {
      var _ = Polymer.Utils._;
      container.textContent = '';
      if (items.forEach) {
        items.forEach(function(item, i) {
          container.appendChild(_(itemKind, {item: item}));
        });
      } else {
        for (var n in items) {
          container.appendChild(_(itemKind, {item: items[n]}));
        }
      }
    }
  
  };

</script>